/* .box{
    height: 250px;
    width: 111px;
    background-color:blueviolet ;
} */

.cl1{
    font-size: 33px;;
    background-color: aqua;
    color: blue;
}

.newclass{
    font-size: 22px;
    background-color: blanchedalmond;
}